body {background-color: rgb(249, 184, 87); width: 100%; height: 100%}
.navbar-li {
    border-bottom: 1px solid;
    width: 100%;
}
.navbar-li a {
    text-align: center;
    display: block;
    width: 100%;
    padding: 9% 0 9% 0;
    color: rgb(124, 3, 3);
    text-decoration: none;
    font-family: Caveat, serif;
    font-size: 2em;
}
.active {background-color: rgb(242, 76, 35);}
li:last-child {
    border-bottom: none;
}
@media screen and (min-width: 1080px) {
    .navbar-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        width: 10%;
        background-color: rgb(255, 231, 77);
        height: 100%;
        position: fixed;
        overflow: auto;
        border: 1px solid;
    }
    .header {
        position: absolute;
        left: 30%;
        right: 50%;
        top: 0;
        text-align: center;
        font-size: 5em;
        font-family: Caveat, serif
    }
    .description {
        position: absolute;
        left: 15%;
        width: 40%;
        top: 20%;
        font-size: 2em;
        font-family: Caveat, serif
    }
    img {
        position: absolute;
        left: 60%;
        top: 20%;
        width: 20%;
        height: auto;
        max-width: 540px
    }
}
@media screen and (max-width: 1080px) {
    .navbar-ul {
        display: block;
        list-style-type: none;
        margin: 5%;
        padding: 0;
        width: 90%;
        background-color: rgb(255, 231, 77);
        position: static;
        overflow: auto;
        border: 1px solid;
    }
    .navbar-li a {
        text-align: center;
        display: block;
        width: 100%;
        padding: 1% 0 1% 0;
        color: rgb(124, 3, 3);
        text-decoration: none;
        font-family: Caveat, serif;
        font-size: 2em;
    }
    .header {
        position: static;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 5em;
        font-family: Caveat, serif
    }
    .description {
        position: static;
        left: 0%;
        width: 90%;
        margin: 5%;
        font-size: 2em;
        font-family: Caveat, serif
    }
    img {
        width: 90%;
        margin: 5%;
        max-width: 540px;
        height: auto;
    }
}
